/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.brand-name{
    font-style: italic;
    color: #E6533C;
    font-size: 2rem;
    font-weight: 700px;
    justify-content: center;
    
}

/* shared Style */

 .display-flex{
  display: flex;
 }
.text-gray{
  color:rgba(255, 255, 255, 0.5); 
}


.bg-light{
background-color: #222222 ;

}
.btn-primary{
    width: 92px;
    height: 38px;
    font-weight: 600;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    color:  rgb(255, 255, 255);
    justify-content: center;
    border: 0px;
}


#second-btn{
  width: 224px;
  height: 54px;
  border-radius: 42px;
  font-size: 1.2rem;
 background: rgb(230, 83, 60);
 outline: none;
 justify-content: center;
 color:  rgb(255, 255, 255);
 border: 0px;
 margin-right: 12px;

}

/* header style */

/* mother container style  */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  max-width: 1440px;
  height: 715px;
  border: 2px solid red;
  gap: 71px;
  background-color: #222222;


}

/* content related styles */
.content-container{
  /* max-width: 100% ; */
  width: 599.05px;
  height: 440px;
  /* border: 2px solid green; */
  margin-left: 110px;
} 

.content-title{
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 700;
  line-height: 120%;
}




/* image related Style */
.image-container{
  width: 349px;
  height: 580px;
   margin-left: 115px;
   /* border: 2px solid red; */
}

.fitbody-image{
  /* width: 100%; */
}

.btn-3{
      width: 224px;
      height: 54px;
      border-radius: 42px;
      justify-content: center; 
      font-size: 1.2rem;
      box-sizing: border-box;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 42px;
      background-color: transparent;
      color: rgb(255, 255, 255); 
}

/* navbar related  style */

.navbar{
justify-content: space-between;
align-items: center;



}

.nav-item{
  list-style: none;
  margin-right: 47px;

}



.nav-link{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400px;
  color: rgb(255, 255, 255);
  
}

.navbar, .banner { 
  max-width: 80%;
  margin: 0 auto; 
}


/* habits- container  related Styles  start  */
#card-box{
width: 587px;
margin: 50px auto;
border: 2px solid slateblue;
/* margin-top: 100px; */
}

.card-box{
  width: 1044px;
  height: 452px;
  margin: 0 auto;
  margin-bottom: 80px;

}


.title-habits h3 {
  width: 671px;
  height: 110px;
  color: rgb(255, 255, 255);
  border: 2px solid yellow;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 700;
 margin-bottom: 30px;

}
.gym{
  width: 671px;
  height: 48px;
  text-align: center;
  margin: 0 auto;
}


.container-habits{
margin-bottom: 40px;

}
.card{
  max-width:231px;
}






/* Responsive Media query */

@media screen and (max-width: 576px){
  .container,
  .navbar,
  .nav-links,
  .image-container{
    flex-direction: column;
  }
}